/*
  App Name: TidyRows
  Author: Wes Foster
  Author URL: https://wesfoster.com
*/
body {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}

.options {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 800px;
  text-align: center;
}

.instructions {
  font-size: 18px;
  color: #666;
}

.formatted-window {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 10px;
}

#formatted-data {
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}

.footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

@media (max-width: 600px) {
  .options {
    flex-direction: column;
    gap: 10px;
  }
  .options label {
    width: 100%;
  }
  .options input, .options select {
    width: 100%;
    box-sizing: border-box;
  }
  .buttons {
    flex-direction: column;
  }
  .buttons button {
    width: 100%;
    margin-bottom: 10px;
  }
  .container {
    width: 90%;
  }
}